/**
 * Simple Pages
 */
@include media-breakpoint-up(sm) {
	.page__header,
	.page__copy {
		font-size: 1.125em;
	}
}

.traeger {
    background-color: $color-action-highlight-bg;
    color: $color-dark-body-text;
    padding: $spacer;
        position: relative;
    max-width: 350
px
;
    float: right;
    margin-left: 2
rem
;
    margin-bottom: 1.5
rem
;
}